<div class="flow-root">
  <div class="-mx-2 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle px-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-lg">
        <div class="table min-w-full divide-y divide-gray-300">
          <div class="table-header-group bg-gray-50">
            <div class="table-row">
              <div class="table-cell py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                <%= t("tables.cols.sales_channel") %>
              </div>
              <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                <%= t("tables.cols.price") %>
              </div>
              <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                <%= t("tables.cols.discounted_price") %>
              </div>
            </div>
          </div>
          <div class="table-row-group divide-y divide-gray-200 bg-white">
            <%= render partial: "discounted_price", collection: discounted_product.product.prices, as: :price, locals: { promotion: discounted_product.promotion } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
