<div class="text-center">
  <%= inline_svg_tag "chip.svg", class: "mx-auto size-12 text-gray-400" %>
  <h3 class="mt-2 text-sm font-semibold text-gray-900"><%= t("actions.no_packing_machines") %></h3>
  <p class="mt-1 text-sm text-gray-500"><%= t("actions.new_packing_machine") %></p>
</div>