<div id="<%= dom_id box_request %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Generation:</strong>
    <%= box_request.generation_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Count:</strong>
    <%= box_request.count %>
  </p>

</div>
