<div id="<%= dom_id generation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Distributed product:</strong>
    <%= generation.distributed_product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= generation.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Finished at:</strong>
    <%= generation.finished_at %>
  </p>

</div>
