<%= tag.div id: dom_id(pallet), class: "table-row hover:bg-gray-50" do %>
  <div class="table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <%= link_to pallet.code, pallet_path(pallet), class: "text-indigo-600", target: "_blank" %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= pallet.boxes.count %>
  </div>
<% end %>