<div id="<%= dom_id storage %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= storage.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= storage.kind %>
  </p>

</div>
