<tr class="even:bg-gray-50">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">
    <div class="flex flex-row gap-4 items-center">
      <%= render "shared/qr_dialog", qr_text: pallet.code %>
      <%= pallet.code %>
    </div>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
    <% if pallet.qr_image.attached? %>
      <%= link_to t("actions.download"), rails_blob_path(pallet.qr_image, disposition: "attachment"), class: "text-indigo-600" %>
    <% end %>
  </td>
</tr>