<%= tag.div id: dom_id(box), class: "table-row hover:bg-gray-50" do %>
  <div class="table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <%= button_to box.code, scans_path, params: { code: box.code }, class: "text-indigo-600", method: :get, data: { turbo_frame: :scan_result } %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= box.product.name %>
  </div>
  <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= box.capacity %>
  </div>
<% end %>