<li>
  <%= link_to production_plan_unit_batch_journal_path(@plan, @production_unit, @batch, journal), data: { turbo_frame: dom_id(@batch, :operations) }, class: "group nav-link-base-xl #{ @journal.id == journal.id ? "nav-link-active" : "nav-link-default" }" do %>
    <%= journal.name %>
  <% end %>
</li>