<li id="<%= dom_id(operation) %>" class="rounded-md bg-white p-6 shadow<%= step_color @batch, operation %>">
  <div class="flex justify-between items-center">
    <div class="text-xl leading-6 font-medium text-gray-900">
      <%= "#{ operation_counter + 1 }. #{ operation.name }" %>
    </div>
    <div>
      <% if @batch.in_progress? %>
        <%= render "action", operation: operation %>
      <% end %>
    </div>
  </div>
</li>