<nav aria-label="Progress" class="w-96">
  <ol role="list" class="overflow-hidden">
    <%= render partial: "production/plans/production_units/batches/journals/journal", collection: @journals, as: :journal %>
    <%= render "production/plans/production_units/batches/packings/packing", batch: @batch %>
    <%= render "production/plans/production_units/batches/distributions/distribution", batch: @batch %>
  </ol>
</nav>
