<%# locals: (ingredient:, with_fact: false) -%>

<% unit = ingredient.material_asset.measurement.unit %>
<% required_count = ingredient.ratio * @batch.planned_tonnage %>
<% used_count = ingredient.ratio * @batch.produced_tonnage %>
<tr>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= ingredient.material_asset.name %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-700">
    <%= t("forms.measurement", value: number_with_delimiter(required_count), unit: unit) %>
  </td>
  <% if with_fact %>
    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-700">
      <%= t("forms.measurement", value: number_with_delimiter(used_count), unit: unit) %>
    </td>
  <% end %>
</tr>