<div id="<%= dom_id plan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Production date:</strong>
    <%= plan.production_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= plan.status %>
  </p>

</div>
