<div class="bg-white p-4 rounded-lg">
  <%= link_to path, class: "relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" do %>
    <%= inline_svg_tag icon_name, class: "mx-auto size-12 text-gray-400" %>
    <span class="mt-2 block text-sm font-semibold text-gray-900"><%= text %></span>
  <% end %>
</div>
