<div id="<%= dom_id location %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Storable:</strong>
    <%= location.storable_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= location.position_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= location.active %>
  </p>

</div>
