<%# locals: (resource:) -%>

<% if resource.errors.any? %>
  <div class="rounded-md bg-red-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= inline_svg_tag "x.svg", class: "h-5 w-5 text-red-400" %>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800"><%= t("actions.not_saved", count: resource.errors.count) %></h3>
        <div class="mt-2 text-sm text-red-700">
          <ul role="list" class="list-disc space-y-1 pl-5">
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>